.message {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px 15px;
  background-color: #f3f2f1;
  color: var(--primary);
  border-radius: 10px;
  word-break: break-all;
  max-width: 45%;
}

.text {
  align-self: flex-end;
}

.avatar {
  width: 35px;
  height: 35px;
  margin-left: 10px;
  flex-shrink: 0;
}

.date {
  font-size: 12px;
  margin-bottom: 3px;
  color: var(--primary-shadow);
}
