.textAreaBox {
  border-top: 1px solid #f3f2f1;
  position: relative;
  padding: 55px 20px 20px 20px;
  width: 100%;
  background-color: #7775e6;
}

.textarea {
  padding: 18px 20px;
  border-radius: 8px;
  font-size: 22px;
  color: var(--primary);
  width: 100%;
  outline: none;
  border: none;

  &::placeholder {
    color: var(--primary-shadow);
  }
}

.picker {
  position: absolute;
  top: 5px;
  left: 20px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 30px;
}

.emojiPicker {
  position: absolute;
  bottom: calc(100% + 5px);
  left: 20px;
}
