.main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.messages {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 20px;
}

.scroll {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 0 20px;
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #f1b170;
    border-radius: 12px;
  }
  overflow: auto;
}

.message {
  align-self: flex-end;
}

.message + .message {
  margin-top: 20px;
}

.notMe {
  align-self: flex-start;
}

.channelName {
  font-size: 1vw;
  color: #f3f2f1;
  padding: 30px 0;
  width: 100%;
  text-align: center;
  background-color: #7775e6;
  border-bottom: 1px solid #f3f2f1;
  margin-bottom: 3px;
  color: #f3f2f1;
}

.loader {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.infoMessage {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1vw;
  letter-spacing: 1px;
  color: #f3f2f1;
}
