.channel {
  padding: 0 20px;
  display: flex;
  align-items: center;
  height: 60px;
  cursor: pointer;
}

.active {
  &.channel {
    background-color: var(--primary-shadow);
  }

  .name {
    color: white;
  }

  .hr {
    border-color: transparent;
  }
}

.hr {
  border-bottom: 1px solid var(--primary-shadow);
  padding-top: 20px;
  position: absolute;
  bottom: -21px;
  left: 0;
  right: 0;
}

.name {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  letter-spacing: 0.8px;

  flex: 1;
  color: var(--primary);
}

.avatar {
  flex-shrink: 0;
  width: 35px;
  height: 35px;
  margin-right: 20px;
}

.trashIcon {
  width: 18px;
}
